/* General Styles */
body {
    margin: 0px;
    background-color: #E2E0C8;
}

/* Nav Styles */
nav {
    display: flex;
    justify-content: space-between;

    background-color: #A7B49E;
    border: 3px;
    border-color: #818C78;
    border-style: solid;
}

nav p, nav a {}

nav a {}

nav a:hover {}

/* Footer Styles */
footer {
    display: flex;
    justify-content: center;

    background-color: bisque;
    border: 1px;
    border-style: dashed;
    
}

footer a {}

footer a:hover {}

/* Splash Section */
.splash {}

.splash h1 {    
    font-family: "Sofia";
    font-size: 30px;
    color:rgba(0, 70, 9);
    margin: 10px;
}

.splash img {
    border: 2px;
    border-style: solid;
}

.splash p {
    margin: 5px;
    font-style: oblique;
}

/* Horizontal Rules */
hr {
    border: 1px;
    border-style: dashed;
    border-color: rgba(0, 70, 9);
}

/* Sections */
section {
    text-align: center;
}

/* Section Headings */
section h2 {
    font-family: "Sofia";
    color: #5C7285;
}

/* Paragraph Styles */
section p {
    margin: 5px;
}

/* link styles */
section a {
    color: rgba(0, 70, 9);
    text-decoration: none;
}
section a:hover {
    color: rgb(91, 167, 185);
}

/* List Styles */
ul {
   list-style-type:circle;
}

dl {
    display: grid;
}
dl dt{}
dl dd{}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    margin: 5px;

    border: 1px;
    border-style: dashed;
    background-color: #A7B49E;
}

.card img {
    width: 100%;
    height: auto;    
}

.card h3 {}

/* Contact Page Styles */
.one-col {}

form {}

form input, form textarea {}

form input:focus, form textarea:focus {}

form button {}

form button:hover {}
